    <div class="row">
      <div class="col s6">
        <div class="card cyan darken-4">
          <div class="card-content white-text">
            <form class="signup-form">
            <h4>Sign Up</h4>
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Username" id="username-signup" type="text" class="validate">
                <label for="username-signup">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="E-mail" id="email-signup" type="text" class="validate">
                <label for="email-signup">E-mail</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Password" id="password-signup" type="password" class="validate">
                <label for="password-signup">Password</label>
              </div>
            </div>
            <div class="row">
              <button class="btn waves-effect waves-light" id="signup-button" type="submit" name="action">Submit
              </button>
            </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col s6">
        <div class="card cyan darken-4">
          <div class="card-content white-text">
            <form class="login-form">
            <h4>Login</h4>
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Username" id="username-login" type="text" class="validate">
                <label for="username-login">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s6">
                <input placeholder="Password" id="password-login" type="password" class="validate">
                <label for="password-login">Password</label>
              </div>
            </div>
            <div class="row">
              <button class="btn waves-effect waves-light" id="login-button" type="submit" name="action">Submit
              </button>
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script src="./js/login.js"></script>